@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Press+Start+2P&family=Stardos+Stencil:wght@400;700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    transition: background 0.2s linear;
    height: 100vh;
    width: 100vw;
}

body.dark {
    background-color: #0a0a0a;
    color: #fafafa;
}

body.dark h1 {
    color:#f1c40f;
}

.dark-light-theme {
    display: flex;
    align-items: baseline;
    justify-content: right;
    padding: 18px;
}

.title {
    text-align: center;
    padding-bottom: 5rem;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 25px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 21px;
    width: 21px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(25px);
}

.fa-moon {
    color: #064bec;
}

.fa-sun {
    color: #f1c40f;
}

.background-banner {
    display: flex;
    position: relative;
}

.image-banner {
    max-width: 100%;
    max-height: 70%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.vader-fixed {
    display: flex;    
}

.darth-vader {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    filter: drop-shadow(1px 1px 20px red)
}

@media only screen
and (min-width: 375px)
and (max-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait){}

/* .codystar-light {
    font-family: "Codystar", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .codystar-regular {
    font-family: "Codystar", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 --------------------------------------------------------
  .stardos-stencil-regular {
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .stardos-stencil-bold {
    font-family: "Stardos Stencil", system-ui;
    font-weight: 700;
    font-style: normal;
  }
 ---------------------------------------------------------
  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 800

.ubuntu-sans-<uniquifier> {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */